.landing-page {
    padding-top: 10%;
    text-align: left;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-page-logo {
        filter: grayscale(100%);
        width: 100%;
        @media screen and (max-width: 960px){
            padding: 100px 0;
        }
    }

    .heading-cta {
        Button {
            margin-top: 50px;
        }

        text-align: left;
        padding: 0 2rem;

        .landing-page-heading {
            .automating {
                font-size: 100px ;
                @media screen and (max-width: 960px){
                    font-size: 42px;
                }
            }

            font-size: 50px;
            text-align: left;
            padding-top: 80px;
            @media screen and (max-width: 960px){
                margin-top: 100%;
                font-size: 30px;
                

            }
            .typewritten-text {
                display: inline;
            }
        }
    }
    @media screen and (max-width: 960px){
        flex-direction: column;
    }

}

.Typewriter {
    display: inline;
    text-align: left;


}

.Typewriter__wrapper,
.Typewriter__cursor {
    background: -webkit-linear-gradient(0deg, #427dd5 0%, #64d8d7 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}