.home-page{
    background-color: black;
    text-align: center;

    img{
        width: 50%;
    }
    p{
        margin-bottom: 20px;
    }
}
.home-page-cta{
    margin: 20px;
}
@media screen and (max-width:960px) {
    .home-page>img{
        width: 100%;
    }
}