#form-section{
    form{
        fieldset{

        text-align: left;
        }
        label{
            font-size: large;
            margin: 3rem;
        }

        input,select{
            margin-left : 3rem;
            margin-bottom: 3rem;
            

        }
        input{
            height:25px ;
            width: 300px;
        }
        Button{
            margin: 3rem;
        }
    }
    padding-top: 80px;
    input,select,option{
        color: black;
    }
}