#contact-page{
    padding-top: 25vh;
    height: 100vh;
    display: flexbox;
    align-items: center ;
    #contact-us-section{
        h1{
            font-size: 90px;
            padding-bottom: 3rem;
        }
    }
    
}
