.feature {
    :hover{
        opacity: 0.5;
    }
    .invert-colors {
        filter: invert(1);
    }

    img {
        object-fit: cover;
        max-width: 100px;
        border-radius: 10%;
    }

    .feature-text {
        padding: 0 1rem;
        text-align: center;

        h2 {
            background: -webkit-linear-gradient(0deg, rgba(56,128,231,1) 0%, rgba(82,181,222,1) 10%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        p {
            padding: 1rem 0;
        }
    }

    padding: 3rem;
}
