#features-section {
    padding: 0 0 10% 0;
    .features-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}
@media screen and (max-width: 960px){
    #features-section{
        .features-container{
            flex-direction: column;
        }
    }
}