#sucess-page{
    padding-top: 80px;
    h1{
        font-size: 90px;
        background: -webkit-linear-gradient(0, rgba(115, 45, 192, 1) 40%, rgba(229, 50, 129, 1) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}