#Help-page{
    padding-top: 80px;
    h1{
        font-size: 90px;
        background: -webkit-linear-gradient(0, rgb(115, 45, 192) 40%, rgb(229, 50, 129) 60%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}