.testimonial {
    display: block;
    padding: 3rem 0;;
    position: absolute;
    .testimonial-content {
        q {
            display: inline-block;
            width: 50%;
            @media screen and (max-width: 960px){
                width: 80%;
            }
        }
    }
    .image{
        display: inline-block;
        position: relative;
        left: 20%;
    }
    img{
        display: inline;
        border-radius: 100%;
        object-fit: cover;
        width: 70px;
        height: 70px;
    }

    
}